<!DOCTYPE html>
<html>
  <head>
    <title>For Later</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>For Later</h1>
    <p>
    <b>For Later</b> is a minimalistic bookmarking service. Sign in with
    Twitter, and you'll get a place to store temporary bookmarks for later
    access.
    </p>
    <a href="/auth/twitter">Sign in with Twitter</a>
  </body>
</html>