<!DOCTYPE html>
<html>
  <head>
    <title>For Later</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>For Later</h1>
    <a href="/auth/twitter">Sign in with Twitter</a>
    <script src="/js/app.js"></script>
  </body>
</html>